---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/post/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/post/25/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 03:23:42 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/post/25/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 2, \n    \"author\": \"Gue Su\", \n    \"author_id\":
        18, \n    \"book_count\": 0, \n    \"comment_count\": 0, \n    \"creation_date\":
        \"2009-12-01T20:57:35.300000+00:00\", \n    \"has_accepted\": false, \n    \"id\":
        25, \n    \"lastedit_date\": \"2009-12-01T20:57:35.300000+00:00\", \n    \"lastedit_user_id\":
        18, \n    \"parent_id\": 24, \n    \"rank\": 0.0, \n    \"reply_count\": 0,
        \n    \"root_id\": 24, \n    \"status\": \"Open\", \n    \"status_id\": 1,
        \n    \"subs_count\": 0, \n    \"tag_val\": \"\", \n    \"thread_score\":
        0, \n    \"title\": \"A: How To Set Shrimp Parameters For Best Sensitivity
        With 35Bp Colorspace Data?\", \n    \"type\": \"Answer\", \n    \"type_id\":
        1, \n    \"url\": \"http://www.biostars.org/p/24/#25\", \n    \"view_count\":
        1, \n    \"vote_count\": 3, \n    \"xhtml\": \"<p>I just read the SHRiMP manual
        again, but I think that their explanation about -M option may not be enough
        to answer your question. I usually use the \\\"seed\\\" mode by using -s,
        -n, and -w and the option -M is a new feature of the version 1.3.1, which
        I have never tried before.</p>\\n<p>I recommend for you to use the \\\"seed\\\"
        mode--the default would be good, but please adjust the -s option if you want
        more sensitivity. Always fast speed compensates sensitivity and the -M option
        seems to exist for this purpose.</p>\\n<p>Hope my message to be helpful for
        your project.</p>\"\n}"
  recorded_at: Fri, 27 Feb 2015 03:23:42 GMT
recorded_with: VCR 2.9.3
