---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/1982/11/01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/1982/11/01/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 03:23:38 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/1982/11/01/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 0, \n    \"comments\": 0, \n    \"date\": \"1982-11-01T00:00:00\",
        \n    \"new_posts\": [], \n    \"new_users\": [], \n    \"new_votes\": [],
        \n    \"questions\": 0, \n    \"timestamp\": 404956800, \n    \"toplevel\":
        0, \n    \"users\": 0, \n    \"votes\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 03:23:38 GMT
recorded_with: VCR 2.9.3
