---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2009/10/06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/2009/10/06/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 03:23:30 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2009/10/06/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 9, \n    \"comments\": 2, \n    \"date\": \"2009-10-06T00:00:00\",
        \n    \"new_posts\": [\n        13, \n        14, \n        15, \n        16\n
        \   ], \n    \"new_users\": [\n        12, \n        13\n    ], \n    \"new_votes\":
        [], \n    \"questions\": 7, \n    \"timestamp\": 1254787200, \n    \"toplevel\":
        7, \n    \"users\": 12, \n    \"votes\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 03:23:31 GMT
recorded_with: VCR 2.9.3
