---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2014/12/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/2014/12/30/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2015 03:55:22 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2014/12/30/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 34193, \n    \"comments\": 63607, \n    \"date\":
        \"2014-12-30T00:00:00\", \n    \"new_posts\": [\n        125221, \n        125222,
        \n        125223, \n        125224, \n        125225, \n        125226, \n
        \       125227, \n        125228, \n        125229, \n        125230, \n        125231,
        \n        125232, \n        125233, \n        125234, \n        125235, \n
        \       125236, \n        125237, \n        125238, \n        125239, \n        125240,
        \n        125241, \n        125242, \n        125243, \n        125244, \n
        \       12524[...]
- request:
    method: get
    uri: https://www.biostars.org/api/post/125221
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/post/125221/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2015 03:55:23 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/post/125221/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 0, \n    \"author\": \"lh3\", \n    \"author_id\":
        10932, \n    \"book_count\": 0, \n    \"comment_count\": 0, \n    \"creation_date\":
        \"2014-12-30T06:05:29.592738+00:00\", \n    \"has_accepted\": false, \n    \"id\":
        125221, \n    \"lastedit_date\": \"2014-12-30T06:05:29.592738+00:00\", \n
        \   \"lastedit_user_id\": 10932, \n    \"parent_id\": 125220, \n    \"rank\":
        0.0, \n    \"reply_count\": 0, \n    \"root_id\": 125220, \n    \"status\":
        \"Open\", \n    \"status_id\": 1, \n    \"subs_count\": 0, \n    \"tag_val\":
        \"\", \n    \"thread_score\": 0, \n    \"title\": \"C: Why there is huge difference
        in mapping quality with bwa & bowtie \", \n    \"type\": \"Comment\", \n    \"type_id\":
        6, \n    \"url\": \"http://www.biostars.org/p/125220/#125221\", \n    \"view_count\":
        0, \n    \"vote_count\": 2, \n    \"xhtml\": \"<p>See section 3.3.2 in\\u00a0<a
        rel=\\\"nofollow\\\" href=\\\"http://arxiv.org/pdf/1404.0929v1.pdf\\\">http://arxiv.org/pdf/1404.0929v1.pdf</a></p>\\n\"\n}"
  recorded_at: Sat, 28 Feb 2015 03:55:24 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/post/125227/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 2, \n    \"author\": \"CikAlal\", \n    \"author_id\":
        13604, \n    \"book_count\": 0, \n    \"comment_count\": 0, \n    \"creation_date\":
        \"2014-12-30T08:32:16.887402+00:00\", \n    \"has_accepted\": false, \n    \"id\":
        125227, \n    \"lastedit_date\": \"2014-12-30T18:02:50.126638+00:00\", \n
        \   \"lastedit_user_id\": 509, \n    \"parent_id\": 125227, \n    \"rank\":
        0.0, \n    \"reply_count\": 2, \n    \"root_id\": 125227, \n    \"status\":
        \"Open\", \n    \"status_id\": 1, \n    \"subs_count\": 2, \n    \"tag_val\":
        \"jbrowse,genome browser,Forum\", \n    \"thread_score\": 5, \n    \"title\":
        \"Jbrowse: importance of draw-basepair-track.pl\", \n    \"type\": \"Question\",
        \n    \"type_id\": 0, \n    \"url\": \"http://www.biostars.org/p/125227/\",
        \n    \"view_count\": 268, \n    \"vote_count\": 1, \n    \"xhtml\": \"<p>Hi,</p>\\n\\n<p>I
        found a script named <em>draw-basepair-track.pl </em>in JBrowse program. May
        I know, what is that actually? Why do people want to draw the basepair track,
        is there any need of it? Just curious to know.</p>\\n\\n<p>Regards,</p>\\n\\n<p>CikAlal</p>\\n\"\n}"
  recorded_at: Sat, 28 Feb 2015 03:55:30 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/post/125229/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 3, \n    \"author\": \"ahmedakhokhar\", \n
        \   \"author_id\": 9848, \n    \"book_count\": 0, \n    \"comment_count\":
        0, \n    \"creation_date\": \"2014-12-30T09:32:12.944729+00:00\", \n    \"has_accepted\":
        false, \n    \"id\": 125229, \n    \"lastedit_date\": \"2014-12-30T09:32:12.944729+00:00\",
        \n    \"lastedit_user_id\": 9848, \n    \"parent_id\": 125065, \n    \"rank\":
        0.0, \n    \"reply_count\": 0, \n    \"root_id\": 124950, \n    \"status\":
        \"Open\", \n    \"status_id\": 1, \n    \"subs_count\": 0, \n    \"tag_val\":
        \"\", \n    \"thread_score\": 0, \n    \"title\": \"C: Blast+ results file
        parsing to fasta file \", \n    \"type\": \"Comment\", \n    \"type_id\":
        6, \n    \"url\": \"http://www.biostars.org/p/124950/#125229\", \n    \"view_count\":
        0, \n    \"vote_count\": 0, \n    \"xhtml\": \"<p>Thanks Siva, this worked
        exactly the way I anticipated but\\u00a0</p>\\n\\n<pre>{ print \\\"&gt;\\\"$2,
        $3 }</pre>\\n\\n<p>failed to write the data into the file, ( $2, $3 } ) remain
        empty, any ideas ?\\u00a0</p>\\n\"\n}"
  recorded_at: Sat, 28 Feb 2015 03:55:47 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/post/125236/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 1, \n    \"author\": \"airan\", \n    \"author_id\":
        11984, \n    \"book_count\": 0, \n    \"comment_count\": 0, \n    \"creation_date\":
        \"2014-12-30T11:23:32.493666+00:00\", \n    \"has_accepted\": false, \n    \"id\":
        125236, \n    \"lastedit_date\": \"2014-12-30T11:23:32.493666+00:00\", \n
        \   \"lastedit_user_id\": 11984, \n    \"parent_id\": 125222, \n    \"rank\":
        0.0, \n    \"reply_count\": 0, \n    \"root_id\": 125222, \n    \"status\":
        \"Open\", \n    \"status_id\": 1, \n    \"subs_count\": 0, \n    \"tag_val\":
        \"\", \n    \"thread_score\": 0, \n    \"title\": \"A: tophat  --library-type
        option\", \n    \"type\": \"Answer\", \n    \"type_id\": 1, \n    \"url\":
        \"http://www.biostars.org/p/125222/#125236\", \n    \"view_count\": 0, \n
        \   \"vote_count\": 1, \n    \"xhtml\": \"<p>You can infer the strandness
        of your experiment using <strong>RSeQC</strong> (RNA-seq Quality Control Package)
        package. Specifically, the script you should use to get information about
        the strand is the one called:<code> infer_experiment.py</code>. This program
        is used to \\u201cguess\\u201d how RNA-seq sequencing were configured, particulary
        how reads were stranded for strand-specific RNA-seq data, through comparing
        the \\u201cstrandness of reads\\u201d with the \\u201cstandness of transcripts\\u201d.<br>\\nYou
        can get the package and read all the documentation in this link: <a rel=\\\"nofollow\\\"
        href=\\\"http://rseqc.sourceforge.net/\\\">http://rseqc.sourceforge.net/</a></p>\\n\\n<p>Of
        course you can extract this information using other methods, this is just
        a recommendation or an option :-).</p>\\n\\n<p>Hope it helps.</p>\\n\"\n}"
  recorded_at: Sat, 28 Feb 2015 03:56:13 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/post/125247/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 1, \n    \"author\": \"Michael Dondrup\",
        \n    \"author_id\": 55, \n    \"book_count\": 0, \n    \"comment_count\":
        0, \n    \"creation_date\": \"2014-12-30T13:23:32.629827+00:00\", \n    \"has_accepted\":
        false, \n    \"id\": 125247, \n    \"lastedit_date\": \"2014-12-30T13:23:32.629827+00:00\",
        \n    \"lastedit_user_id\": 55, \n    \"parent_id\": 125246, \n    \"rank\":
        0.0, \n    \"reply_count\": 0, \n    \"root_id\": 125124, \n    \"status\":
        \"Open\", \n    \"status_id\": 1, \n    \"subs_count\": 0, \n    \"tag_val\":
        \"\", \n    \"thread_score\": 0, \n    \"title\": \"C: Local Blast against
        a specific organism\", \n    \"type\": \"Comment\", \n    \"type_id\": 6,
        \n    \"url\": \"http://www.biostars.org/p/125124/#125247\", \n    \"view_count\":
        0, \n    \"vote_count\": 1, \n    \"xhtml\": \"<p>This should work, it is
        gi:<span style=\\\"\\\">500123058 and annotated with a correct taxid, you
        should have it in your gilist if you use taxid: </span>1763 Mycobacterium\\u00a0to
        generate it.</p>\\n\"\n}"
  recorded_at: Sat, 28 Feb 2015 03:56:22 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/post/125305/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answer_count\": 3, \n    \"author\": \"Alex Reynolds\", \n
        \   \"author_id\": 20, \n    \"book_count\": 0, \n    \"comment_count\": 0,
        \n    \"creation_date\": \"2014-12-30T20:30:40.878379+00:00\", \n    \"has_accepted\":
        false, \n    \"id\": 125305, \n    \"lastedit_date\": \"2014-12-30T20:47:59.150005+00:00\",
        \n    \"lastedit_user_id\": 20, \n    \"parent_id\": 81853, \n    \"rank\":
        0.0, \n    \"reply_count\": 0, \n    \"root_id\": 81853, \n    \"status\":
        \"Open\", \n    \"status_id\": 1, \n    \"subs_count\": 0, \n    \"tag_val\":
        \"\", \n    \"thread_score\": 0, \n    \"title\": \"A: How To Visualize Large
        Set Of Data(Fpkm Of Genes, 80 Data)\", \n    \"type\": \"Answer\", \n    \"type_id\":
        1, \n    \"url\": \"http://www.biostars.org/p/81853/#125305\", \n    \"view_count\":
        0, \n    \"vote_count\": 1, \n    \"xhtml\": \"<p>Given that you are working
        with tissues, the heatmap approach may work well.\\u00a0Here is an example
        of a visualization I did for expression data for human fetal and adult tissues,
        for a set of genes of interest:</p>\\n\\n<p><img src=\\\"https://dl.dropboxusercontent.com/u/31495717/biostars.expressionAtlas.png\\\"
        alt=\\\"\\\" style=\\\"height: 406px; width: 480px;\\\"></p>\\n\\n<p>Here,
        we show the relative FPKM values for different fetal tissue expression data
        for BCL6. Expression is relatively enriched in thymus, but there is signal
        elsewhere, also.</p>\\n\\n<p>As another example, here is a heatmap of expression
        data for CEBPA:</p>\\n\\n<p><img src=\\\"https://dl.dropboxusercontent.com/u/31495717/biostars.expressionAtlasCebpa.png\\\"
        alt=\\\"\\\" style=\\\"height: 391px; width: 480px;\\\"></p>\\n\\n<p>The expression
        data shown here suggest more tissue specificity.</p>\\n\\n<p>The methodology
        condenses expression data for a set of tissues from various timepoints.\\u00a0You
        can explore other genes at the Gene Expression Atlas here:\\u00a0<a rel=\\\"nofollow\\\"
        href=\\\"https://expressionatlas.org\\\">https://expressionatlas.org</a></p>\\n\"\n}"
  recorded_at: Sat, 28 Feb 2015 03:57:58 GMT
[...]
