---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2014/12/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/2014/12/30/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2015 03:54:11 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2014/12/30/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 34193, \n    \"comments\": 63607, \n    \"date\":
        \"2014-12-30T00:00:00\", \n    \"new_posts\": [\n        125221, \n        125222,
        \n        125223, \n        125224, \n        125225, \n        125226, \n
        \       125227, \n        125228, \n        125229, \n        125230, \n        125231,
        \n        125232, \n        125233, \n        125234, \n        125235, \n
        \       125236, \n        125237, \n        125238, \n        125239, \n        125240,
        \n        125241, \n        125242, \n        125243, \n        125244, \n
        \       12524[...]
- request:
    method: get
    uri: https://www.biostars.org/api/user/15484
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/user/15484/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2015 03:54:27 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/user/15484/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2014-12-30T08:49:12.514072+00:00\", \n    \"id\":
        15484, \n    \"joined_days_ago\": 59, \n    \"last_login\": \"2014-12-31T02:53:32.069115+00:00\",
        \n    \"name\": \"quangmaiv\", \n    \"vote_count\": 0\n}"
  recorded_at: Sat, 28 Feb 2015 03:54:27 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/user/15494/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2014-12-31T04:08:06.045470+00:00\", \n    \"id\":
        15494, \n    \"joined_days_ago\": 58, \n    \"last_login\": \"2015-02-23T17:26:49.638991+00:00\",
        \n    \"name\": \"Bohdan Khomtchouk\", \n    \"vote_count\": 15\n}"
  recorded_at: Sat, 28 Feb 2015 03:54:42 GMT
recorded_with: VCR 2.9.3
