---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2015/02/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/2015/02/25/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 03:47:08 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2015/02/25/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 35905, \n    \"comments\": 67606, \n    \"date\":
        \"2015-02-25T00:00:00\", \n    \"new_posts\": [\n        132412, \n        132413,
        \n        132414, \n        132415, \n        132416, \n        132417, \n
        \       132418, \n        132419, \n        132420, \n        132421, \n        132422,
        \n        132423, \n        132424, \n        132425, \n        132426, \n
        \       132427, \n        132428, \n        132429, \n        132430, \n        132431,
        \n        132432, \n        132433, \n        132434, \n        132435, \n
        \       13243[...]
