---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/day/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/day/5/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 22:15:03 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/day/5/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 6, \n    \"comments\": 2, \n    \"date\": \"2009-10-05T00:00:00\",
        \n    \"new_posts\": [\n        10, \n        11, \n        12\n    ], \n
        \   \"new_users\": [\n        10, \n        11\n    ], \n    \"new_votes\":
        [], \n    \"questions\": 6, \n    \"timestamp\": 1254700800, \n    \"toplevel\":
        6, \n    \"users\": 10, \n    \"votes\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 22:15:03 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/user/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/user/10/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 22:15:03 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/user/10/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2009-10-05T21:44:30.853000+00:00\", \n    \"id\":
        10, \n    \"joined_days_ago\": 1971, \n    \"last_login\": \"2013-04-01T13:09:47.639174+00:00\",
        \n    \"name\": \"Biostar User\", \n    \"vote_count\": 36\n}"
  recorded_at: Fri, 27 Feb 2015 22:15:04 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/user/11/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2009-10-05T22:47:25.690000+00:00\", \n    \"id\":
        11, \n    \"joined_days_ago\": 1971, \n    \"last_login\": \"2009-10-05T22:47:25.690000+00:00\",
        \n    \"name\": \"Reka Albert\", \n    \"vote_count\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 22:15:05 GMT
recorded_with: VCR 2.9.3
