---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2014/12/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/2014/12/30/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2015 03:59:12 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2014/12/30/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 34193, \n    \"comments\": 63607, \n    \"date\":
        \"2014-12-30T00:00:00\", \n    \"new_posts\": [\n        125221, \n        125222,
        \n        125223, \n        125224, \n        125225, \n        125226, \n
        \       125227, \n        125228, \n        125229, \n        125230, \n        125231,
        \n        125232, \n        125233, \n        125234, \n        125235, \n
        \       125236, \n        125237, \n        125238, \n        125239, \n        125240,
        \n        125241, \n        125242, \n        125243, \n        125244, \n
        \       12524[...]
- request:
    method: get
    uri: https://www.biostars.org/api/vote/143453
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/vote/143453/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2015 03:59:13 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/vote/143453/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"author\": \"marina.v.yurieva\", \n    \"author_id\": 11909,
        \n    \"date\": \"2014-12-30T06:21:48.326766+00:00\", \n    \"id\": 143453,
        \n    \"post_id\": 125221, \n    \"type\": \"Upvote\", \n    \"type_id\":
        0\n}"
  recorded_at: Sat, 28 Feb 2015 03:59:13 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/vote/143534/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"author\": \"Siva\", \n    \"author_id\": 14486, \n    \"date\":
        \"2014-12-31T03:55:04.606511+00:00\", \n    \"id\": 143534, \n    \"post_id\":
        125267, \n    \"type\": \"Upvote\", \n    \"type_id\": 0\n}"
  recorded_at: Sat, 28 Feb 2015 04:00:52 GMT
recorded_with: VCR 2.9.3
