---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2009/10/06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/stats/date/2009/10/06/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 22:15:00 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/stats/date/2009/10/06/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"answers\": 9, \n    \"comments\": 2, \n    \"date\": \"2009-10-06T00:00:00\",
        \n    \"new_posts\": [\n        13, \n        14, \n        15, \n        16\n
        \   ], \n    \"new_users\": [\n        12, \n        13\n    ], \n    \"new_votes\":
        [], \n    \"questions\": 7, \n    \"timestamp\": 1254787200, \n    \"toplevel\":
        7, \n    \"users\": 12, \n    \"votes\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 22:15:01 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/user/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/user/12/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 22:15:01 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/user/12/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2009-10-07T00:58:10.083000+00:00\", \n    \"id\":
        12, \n    \"joined_days_ago\": 1969, \n    \"last_login\": \"2009-10-07T07:45:15.080000+00:00\",
        \n    \"name\": \"Yang Yang\", \n    \"vote_count\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 22:15:01 GMT
[...]
- request:
    method: get
    uri: https://www.biostars.org/api/user/13/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2009-10-07T04:04:41.700000+00:00\", \n    \"id\":
        13, \n    \"joined_days_ago\": 1969, \n    \"last_login\": \"2009-10-07T19:04:30.217000+00:00\",
        \n    \"name\": \"Gue Su Chang\", \n    \"vote_count\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 22:15:02 GMT
recorded_with: VCR 2.9.3
