---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/user/23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/user/23/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 Feb 2015 21:25:23 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/user/23/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"date_joined\": \"2010-01-18T21:43:55.253000+00:00\", \n    \"id\":
        23, \n    \"joined_days_ago\": 1865, \n    \"last_login\": \"2015-02-26T18:08:55.381583+00:00\",
        \n    \"name\": \"Giovanni M Dall'Olio\", \n    \"vote_count\": 3703\n}"
  recorded_at: Thu, 26 Feb 2015 21:25:24 GMT
recorded_with: VCR 2.9.3
