---
http_interactions:
- request:
    method: get
    uri: https://www.biostars.org/api/vote/21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.biostars.org/api/vote/21/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2015 03:23:47 GMT
- request:
    method: get
    uri: https://www.biostars.org/api/vote/21/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"author\": \"Zhaorong\", \n    \"author_id\": 14, \n    \"date\":
        \"2014-04-14T02:56:45.240534+00:00\", \n    \"id\": 21, \n    \"post_id\":
        26, \n    \"type\": \"Upvote\", \n    \"type_id\": 0\n}"
  recorded_at: Fri, 27 Feb 2015 03:23:48 GMT
recorded_with: VCR 2.9.3
